.margin-top-10 {
  margin-top: 10px; }

.margin-bottom-10 {
  margin-bottom: 10px; }

@media (min-width: 768px) {
  .margin-left-10 {
    margin-left: 10px; }

  .margin-right-10 {
    margin-right: 10px; } }
.margin-top-15 {
  margin-top: 15px; }

.margin-bottom-15 {
  margin-bottom: 15px; }

@media (min-width: 768px) {
  .margin-left-15 {
    margin-left: 15px; }

  .margin-right-15 {
    margin-right: 15px; } }
.margin-top-20 {
  margin-top: 20px; }

.margin-bottom-20 {
  margin-bottom: 20px; }

@media (min-width: 768px) {
  .margin-left-20 {
    margin-left: 20px; }

  .margin-right-20 {
    margin-right: 20px; } }
.margin-top-25 {
  margin-top: 25px; }

.margin-bottom-25 {
  margin-bottom: 25px; }

@media (min-width: 768px) {
  .margin-left-25 {
    margin-left: 25px; }

  .margin-right-25 {
    margin-right: 25px; } }
.margin-top-50 {
  margin-top: 50px; }

.margin-bottom-50 {
  margin-bottom: 50px; }

@media (min-width: 768px) {
  .margin-left-50 {
    margin-left: 50px; }

  .margin-right-50 {
    margin-right: 50px; } }
.margin-top-75 {
  margin-top: 75px; }

.margin-bottom-75 {
  margin-bottom: 75px; }

@media (min-width: 768px) {
  .margin-left-75 {
    margin-left: 75px; }

  .margin-right-75 {
    margin-right: 75px; } }
.margin-top-100 {
  margin-top: 100px; }

.margin-bottom-100 {
  margin-bottom: 100px; }

@media (min-width: 768px) {
  .margin-left-100 {
    margin-left: 100px; }

  .margin-right-100 {
    margin-right: 100px; } }
.margin-top-125 {
  margin-top: 125px; }

.margin-bottom-125 {
  margin-bottom: 125px; }

@media (min-width: 768px) {
  .margin-left-125 {
    margin-left: 125px; }

  .margin-right-125 {
    margin-right: 125px; } }
.margin-top-150 {
  margin-top: 150px; }

.margin-bottom-150 {
  margin-bottom: 150px; }

@media (min-width: 768px) {
  .margin-left-150 {
    margin-left: 150px; }

  .margin-right-150 {
    margin-right: 150px; } }
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.right {
  float: right;
  text-align: right; }

.left {
  float: left;
  text-align: left; }

.bootstrap-sidebar {
  background-color: #ccc;
  display: block;
  height: 100%;
  padding-left: 0px;
  padding-right: 10px;
  position: fixed;
  left: 0;
  top: 60px; }
  .bootstrap-sidebar li:first-of-type {
    padding-top: 25px; }
  .bootstrap-sidebar li {
    list-style-type: none;
    margin-bottom: 25px; }
    .bootstrap-sidebar li > a {
      color: #333;
      text-decoration: none; }

.btn {
  width: 100%; }

.panel-heading {
  height: 80px; }
  .panel-heading:hover {
    text-decoration: none; }

.navbar-brand {
  position: fixed;
  left: 25px; }

.navigation {
  background-color: #181818;
  height: 50px;
  padding-top: 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }
  .navigation ul {
    margin-bottom: 0; }
  .navigation li {
    display: inline-block;
    list-style-type: none;
    padding-left: 10px; }
    .navigation li a {
      color: #fff;
      text-decoration: none; }

@media (max-width: 550px) {
  .navigation ul {
    display: none; } }
.menu {
  position: fixed;
  top: 25px;
  right: 1.5em;
  width: 30px;
  height: 24px;
  cursor: pointer;
  z-index: 10; }
  .menu:hover .menu-hamburger:before,
  .menu:hover .menu-hamburger:after {
    width: 30px; }
  .menu.is-active .menu-hamburger {
    background: none; }
  .menu.is-active .menu-hamburger:before,
  .menu.is-active .menu-hamburger:after {
    top: 0;
    width: 30px;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .menu.is-active .menu-hamburger:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .menu.is-active .menu-hamburger:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }

.menu-hamburger {
  position: relative;
  width: 30px;
  height: 4px;
  margin: 5px 0;
  background: #fff;
  border-radius: 4px;
  transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .menu-hamburger:before, .menu-hamburger:after {
    content: '';
    display: block;
    width: 30px;
    height: 4px;
    background: #fff;
    position: absolute;
    border-radius: 4px;
    transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .menu-hamburger:before {
    top: -8px;
    left: 0;
    width: 22px; }
  .menu-hamburger:after {
    top: 8px;
    width: 16px;
    left: 0; }

.sidebar {
  display: none;
  background-color: #181818;
  height: 100%;
  padding: 0 25px;
  position: fixed;
  left: 0;
  top: 65px; }
  .sidebar li:first-of-type {
    border-top: 1px solid #666;
    padding-top: 25px; }
  .sidebar li {
    list-style-type: none;
    margin-bottom: 25px; }
    .sidebar li > a {
      color: #dcdcdc;
      text-decoration: none; }

.triangle {
  border-style: solid;
  border-width: 15px 0 15px 15px;
  border-color: transparent transparent transparent #333;
  height: 0;
  width: 0;
  position: relative;
  left: 0;
  top: 50px;
  -webkit-transform: rotate(360deg);
  z-index: 99; }

.left-panel {
  background: #333;
  height: 100%;
  padding-top: 500px;
  position: fixed;
  top: 0;
  left: 0;
  width: 25%; }

.login-panel {
  background: linear-gradient(-180deg, #ECE9E6 0%, #FFFFFF 100%);
  height: 100%;
  padding-top: 475px;
  position: fixed;
  left: 25%;
  top: 0;
  width: 75%; }

@media (max-width: 979px) {
  .left-panel img[alt~="goverlan"] {
    display: none; } }
.form-error {
  color: red;
  margin-bottom: 1em; }

/*# sourceMappingURL=custom.css.map */
